<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" bootstrap="src/autoload.php">
    <testsuites>
        <testsuite name="Database">
            <file>./tests/BoltTest.php</file>
            <directory>./tests/connection</directory>
            <directory>./tests/error</directory>
            <directory>./tests/packstream</directory>
            <directory>./tests/structures</directory>
            <file>./tests/PerformanceTest.php</file>
        </testsuite>
        <testsuite name="NoDatabase">
            <directory>./tests/protocol</directory>
            <file>./tests/helpers/FileCacheTest.php</file>
        </testsuite>
    </testsuites>
    <php>
        <var name="NEO_USER" value="neo4j"/>
        <var name="NEO_PASS" value="nothing123"/>
    </php>
</phpunit>
