<phpunit colors="true" verbose="true"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         convertErrorsToExceptions="true"
         convertDeprecationsToExceptions="true"
         bootstrap="src/autoload.php"
>
    <testsuites>
        <testsuite name="Database">
            <directory>./tests/connection</directory>
            <file>./tests/BoltTest.php</file>
            <file>./tests/StructuresTest.php</file>
        </testsuite>
        <testsuite name="NoDatabase">
            <directory>./tests/error</directory>
            <directory>./tests/PackStream</directory>
            <directory>./tests/protocol</directory>
        </testsuite>
    </testsuites>
    <php>
        <var name="NEO_USER" value="neo4j"/>
        <var name="NEO_PASS" value="nothing"/>
    </php>
</phpunit>


